services:
  web:
    image: triangle-pos:latest
    container_name: trianglepos
    build:
      context: .
    env_file:
      - .env
    networks:
      - nginxproxy
      - laravel
    volumes:
      - .:/var/www/html
    depends_on:
      - db

  db:
    image: postgres:14-alpine
    restart: unless-stopped
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${DB_DATABASE}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    networks:
      - laravel
    volumes:
      - dbdata:/var/lib/postgresql/data

volumes:
  dbdata:

networks:
  nginxproxy:
    external: true
  laravel:
    driver: bridge


